---
---
{{reference}}
    {% if entry.abstract %}
    <a href="javascript:void(0)" class="btn btnId btnPub--abstract" id="b_{{key}}-abstract" style="outline:none;">Abstract</a>
    {% endif %}

    <a href="javascript:void(0)" class="btn btnId btnPub--BibTex" id="b_{{key}}-bibtex" style="outline:none;">BibTeX</a>
    
    {% if link %}
    <a href="{{link}}" class="btn btnId btnPub--download" style="outline:none; position:relative;white-space: normal;">PDF</a>
    {% endif %}
    
    {% if links['sup.pdf'] %}
    <a href="{{links['sup.pdf']}}" class="btn btnId btnPub--supplement" style="outline:none; position:relative;white-space: normal;">Supplement</a>
    {% endif %}

    {% if entry.bibtex %}
    <div class="dropDownBibtex" id="{{key}}-bibtex">
    <pre>{{entry.bibtex}}</pre>
    </div>
    {% endif %}
    
    {% if entry.abstract %}
    <div class="dropDownAbstract" id="{{key}}-abstract">
    {{entry.abstract}}
    </div>
    {% endif %}